REPLICA_URL=http://172.22.159.126:4943
CANISTER_ID=uxrrr-q7777-77774-qaaaq-cai
BACKEND_URL=http://localhost:6969
SUPABASE_URL=postgresql://postgres.uycqmpukwumkybqyycbq:Streaming123@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require
SUPABASE_SERVICE_ROLE_KEY=
PORT_API=